/* PRODUTOS */

.produtos .container {
  flex-direction: column;
}

.itens input {
  display: none;
}

.itens label {
  display: block;
  width: 170px;
  cursor: pointer;
}

.produtos-content {
  display: flex;
  margin: 60px 0;
}

.itens {
  max-width: 800px;
  margin: 0 auto;
}

.produtos-nav {
  width: 100%;
  height: 290px;
  background: linear-gradient(180deg, #f18934 0%, #7b4f2b 100%);
  color: #d6d6d6;
}

.produtos-nav nav {
  padding: 0px 10px 10px 10px;
}

.produtos-nav h2 {
  padding-top: 10px;
  color: #d6d6d6;
  text-align: center;
}

.produtos-nav nav ul li a {
  color: #d6d6d6;
  font-weight: bold;
  padding: 5px;
  margin: 0 auto;
}

.produtos-nav nav ul li a:hover,
.produtos-nav-ativo {
  background: #00884e;
  border-radius: 5px;
}

.produtos-nav nav ul li {
  margin-bottom: 10px;
}

.produtos-nav nav ul li::after {
  margin-top: 10px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: rgba(241, 137, 52, 0.3);
  border-radius: 5px;
}

.itens > ul {
  display: flex;
  flex-wrap: wrap;
}

.itens > ul > li {
  margin-bottom: 30px;
  margin-right: 30px;
}

.item ul {
  color: #d6d6d6;
  line-height: 15px;
  padding: 10px 10px 10px 20px;
  font-size: 0.625em;
  max-width: 170px;
  opacity: 0%;
  transition: 0.5s ease opacity;
}

.item ul a {
  border: none;
  background: #f18934;
  display: none;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  width: 80px;
  padding: 5px;
}

.item ul a:hover {
  color: #d6d6d6;
}

.item p {
  margin-bottom: 5px;
}

input:checked + .active .item {
  background-color: rgba(0, 136, 78, 1);
}

input:checked + .active .item ul {
  opacity: 100%;
}

input:checked + .active .item ul a {
  display: block;
}

.item {
  height: 170px;
  border-radius: 5px;
  background-color: rgba(0, 136, 78, 0);
  background-blend-mode: multiply;
  transition: 0.5s ease background-color;
}

.titulo-item {
  background: #f18934;
  padding: 5px 0px 5px 10px;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 30px;
}

.titulo-item-large {
  background: #f18934;
  padding: 5px 0px 5px 10px;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 30px;
  padding: 5px 10px 5px 10px;
  font-size: 1em;
  line-height: 20px;
}

/* FRUTAS */

.intro-interno-frutas {
  background: url("../img/bg_frutas.png") no-repeat center center;
  background-size: cover;
}

.abacate {
  background-image: url(../img/abacate.png);
}

.abacaxi {
  background-image: url(../img/abacaxi.png);
}

.ameixa {
  background-image: url(../img/ameixa.png);
}

.atemoia {
  background-image: url(../img/atemoia.png);
}

.banana {
  background-image: url(../img/banana.png);
}

.cacau {
  background-image: url(../img/cacau.png);
}

.caqui {
  background-image: url(../img/caqui.png);
}

.carambola {
  background-image: url(../img/carambola.png);
}

.cereja {
  background-image: url(../img/cereja.png);
}

.coco {
  background-image: url(../img/coco.png);
}

.cupuaçu {
  background-image: url(../img/cupuaçu.png);
}

.damasco {
  background-image: url(../img/damasco.png);
}

.figo {
  background-image: url(../img/figo.png);
}

.framboesa {
  background-image: url(../img/framboesa.png);
}

.goiaba {
  background-image: url(../img/goiaba.png);
}

.graviola {
  background-image: url(../img/graviola.png);
}

.kiwi {
  background-image: url(../img/kiwi.png);
}

.laranja {
  background-image: url(../img/laranja.png);
}

.lichia {
  background-image: url(../img/lichia.png);
}

.limao {
  background-image: url(../img/limao.png);
}

.maça {
  background-image: url(../img/maça.png);
}

.mamao {
  background-image: url(../img/mamao.png);
}

.manga {
  background-image: url(../img/manga.png);
}

.mangostim {
  background-image: url(../img/mangostim.png);
}

.maracuja {
  background-image: url(../img/maracuja.png);
}

.melancia {
  background-image: url(../img/melancia.png);
}

.melao {
  background-image: url(../img/melao.png);
}

.mexerica {
  background-image: url(../img/mexerica.png);
}

.mirtilo {
  background-image: url(../img/mirtilo.png);
}

.morango {
  background-image: url(../img/morango.png);
}

.pera {
  background-image: url(../img/pera.png);
}

.pessego {
  background-image: url(../img/pessego.png);
}

.pinha {
  background-image: url(../img/pinha.png);
}

.rambutao {
  background-image: url(../img/rambutao.png);
}

.seriguela {
  background-image: url(../img/seriguela.png);
}

.tomate {
  background-image: url(../img/tomate.png);
}

.uva {
  background-image: url(../img/uva.png);
}

.passa {
  background-image: url(../img/passa.png);
}

/* LEGUMES */

.intro-interno-legumes {
  background: url("../img/bg_legumes.png") no-repeat center center;
  background-size: cover;
}

.abobora {
  background-image: url(../img/abobora.png);
}

.abobrinha {
  background-image: url(../img/abobrinha.png);
}

.alho {
  background-image: url(../img/alho.png);
}

.batata {
  background-image: url(../img/batata.png);
}

.batata-doce {
  background-image: url(../img/batata_doce.png);
}

.berinjela {
  background-image: url(../img/berinjela.png);
}

.beterraba {
  background-image: url(../img/beterraba.png);
}

.cara {
  background-image: url(../img/cara.png);
}

.cebola {
  background-image: url(../img/cebola.png);
}

.cenoura {
  background-image: url(../img/cenoura.png);
}

.chuchu {
  background-image: url(../img/chuchu.png);
}

.ervilha {
  background-image: url(../img/ervilha.png);
}

.inhame {
  background-image: url(../img/inhame.png);
}

.jilo {
  background-image: url(../img/jilo.png);
}

.mandioca {
  background-image: url(../img/mandioca.png);
}

.mandioquinha {
  background-image: url(../img/mandioquinha.png);
}

.milho {
  background-image: url(../img/milho.png);
}

.pepino {
  background-image: url(../img/pepino.png);
}

.pimentao {
  background-image: url(../img/pimentao.png);
}

.quiabo {
  background-image: url(../img/quiabo.png);
}

.vagem {
  background-image: url(../img/vagem.png);
}

/* VERDURAS */

.intro-interno-verduras {
  background: url("../img/bg_verduras.png") no-repeat center center;
  background-size: cover;
}

.acelga {
  background-image: url(../img/acelga.png);
}

.agriao {
  background-image: url(../img/agriao.png);
}

.alface {
  background-image: url(../img/alface.png);
}

.alho-poro {
  background-image: url(../img/alho_poro.png);
}

.brocolis {
  background-image: url(../img/brocolis.png);
}

.couve-flor {
  background-image: url(../img/couve_flor.png);
}

.couve {
  background-image: url(../img/couve.png);
}

.escarola {
  background-image: url(../img/escarola.png);
}

.espinafre {
  background-image: url(../img/espinafre.png);
}

.hortela {
  background-image: url(../img/hortela.png);
}

.manjericao {
  background-image: url(../img/manjericao.png);
}

.mostarda {
  background-image: url(../img/mostarda.png);
}

.repolho {
  background-image: url(../img/repolho.png);
}

.rucula {
  background-image: url(../img/rucula.png);
}

.salsao {
  background-image: url(../img/salsao.png);
}

.salsinha {
  background-image: url(../img/salsinha.png);
}

/* FRIOS & CONGELADOS */

.intro-interno-frios {
  background: url("../img/bg_frios.png") no-repeat center center;
  background-size: cover;
}

.frios .item {
  position: relative;
}

.sadia {
  position: absolute;
  left: -10px;
  bottom: -10px;
}

.perdigao {
  position: absolute;
  left: -15px;
  bottom: -10px;
}

.file {
  background-image: url(../img/file.png);
}

.filezinho {
  background-image: url(../img/filezinho.png);
}

.passarinho {
  background-image: url(../img/passarinho.png);
}

.hamburguer {
  background-image: url(../img/hamburguer.png);
}

.lasanha {
  background-image: url(../img/lasanha.png);
}

.lasanha-sadia {
  background-image: url(../img/lasanha-sadia.png);
}

.mortadela {
  background-image: url(../img/mortadela.png);
}

.mussarela {
  background-image: url(../img/mussarela.png);
}

.nuggets {
  background-image: url(../img/nuggets.png);
}

.pao-de-queijo {
  background-image: url(../img/pao_de_queijo.png);
}

.presunto {
  background-image: url(../img/presunto.png);
}

.prato {
  background-image: url(../img/prato.png);
}

.salsicha {
  background-image: url(../img/salsicha.png);
}

.desossada {
  background-image: url(../img/desossada.png);
}

.sobrecoxa {
  background-image: url(../img/sobrecoxa.png);
}

.steak {
  background-image: url(../img/steak.png);
}

/* DIVERSOS */

.intro-interno-diversos {
  background: url("../img/bg_diversos.png") no-repeat center center;
  background-size: cover;
}

.diversos .item {
  position: relative;
}

.panco {
  position: absolute;
  left: -15px;
  bottom: -10px;
}

.biscoito-agua {
  background-image: url(../img/biscoito_agua.png);
}

.maisena {
  background-image: url(../img/maisena.png);
}

.biscoito-recheado {
  background-image: url(../img/biscoito_recheado.png);
}

.bisnaguinha {
  background-image: url(../img/bisnaguinha.png);
}

.bolo {
  background-image: url(../img/bolo.png);
}

.chimichurri {
  background-image: url(../img/chimichurri.png);
}

.champignon {
  background-image: url(../img/champignon.png);
}

.colorau {
  background-image: url(../img/colorau.png);
}

.hibisco {
  background-image: url(../img/hibisco.png);
}

.linhaca {
  background-image: url(../img/linhaca.png);
}

.louro {
  background-image: url(../img/louro.png);
}

.massa {
  background-image: url(../img/massa.png);
}

.oregano {
  background-image: url(../img/oregano.png);
}

.ovo {
  background-image: url(../img/ovo.png);
}

.codorna {
  background-image: url(../img/codorna.png);
}

.pao {
  background-image: url(../img/pao.png);
}

.pimenta {
  background-image: url(../img/pimenta.png);
}

.quinoa {
  background-image: url(../img/quinoa.png);
}

.rosquinha {
  background-image: url(../img/rosquinha.png);
}

.sal-himalaia {
  background-image: url(../img/sal_himalaia.png);
}

.chia {
  background-image: url(../img/chia.png);
}

.sequilho {
  background-image: url(../img/sequilho.png);
}

.shimeji {
  background-image: url(../img/shimeji.png);
}

.shitake {
  background-image: url(../img/shitake.png);
}

.tapioca {
  background-image: url(../img/tapioca.png);
}

/* RESPONSIVO */

@media (max-width: 1036px) {
  .itens {
    max-width: 600px;
  }
}

@media (max-width: 836px) {
  .itens {
    max-width: 400px;
  }
}

@media (max-width: 660px) {
  .produtos-content {
    flex-direction: column;
  }
  .calltoaction {
    position: fixed;
    height: 0px;
    padding: 0px;
    right: 5px;
    bottom: 63px;
  }
  .calltoaction p {
    display: none;
  }
  .produtos-nav {
    height: 100%;
    order: 1;
    margin-bottom: 30px;
  }
  .produtos-nav nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .itens {
    order: 2;
    max-width: 570px;
  }
  .itens > ul > li:nth-child(3n) {
    margin-right: 0px;
  }
}

@media (max-width: 606px) {
  .itens {
    max-width: 370px;
  }
  .itens > ul > li:nth-child(3n) {
    margin-right: 30px;
  }
  .itens > ul > li:nth-child(even) {
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  .produtos {
    padding: 0 10px;
  }
}

@media (max-width: 389px) {
  .itens {
    max-width: 170px;
  }
}
